/* 슬라이더 컨테이너 */
.slider {
  width: 100%;
  height: 320px; /* 원하는 높이 설정 */
  overflow: hidden;
}

/* 슬라이더 내부 이미지 래퍼 */
.slider-wrapper {
  display: flex;
  width: calc(100% * 8); /* 이미지 개수에 따라 가로 길이 설정 */
  animation: slide 30s linear infinite; /* 10초 동안 무한 슬라이드 */
  width: 300px;
  height: 300px;
}

/* 슬라이드 이미지 */
.slider-wrapper img {
  width: 300px;
  height: 300px;
}

/* 슬라이드 애니메이션 */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

.find-screen {
  margin-bottom: 100px;
}
.repository-create {
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.repository-create__title {
  font-size: 17px;
  color: #3174da;
}
.repository-create span {
  text-align: center;
  margin: 70px 0px;
  font-size: 15px;
  line-height: 20px;
}
.repository-create__form {
  display: flex;
  flex-direction: column;
}
.open-chat {
  margin-top: 25px;
  padding: 20px;
  background-color: #f5f5f5;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.open-chat__header span {
  color: #3174da;
}
.explore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #738c8c;
  margin-bottom: 20px;
}
.explore__column-profile {
  display: flex;
  align-items: flex-start;
}
.explore__column-profile img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
.explore__title {
  font-weight: 600;
  line-height: 25px;
}
.explore__subtitle {
  font-size: 15px;
  color: #738c8c;
  margin: 20px 0px 20px 30px;
}
.explore__members {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #738c8c;
}
.explore__members i {
  margin-right: 10px;
}
