.more-screen .icon-row {
  margin-top: 35px;
}
.more-suggestions {
  margin-top: 15px;
  border-top: rgba(0, 0, 0, 0.3);
  padding-top: 40px;
  margin-bottom: 100px;
}
.more-suggestions__title {
  margin-bottom: 25px;
}
.more-suggestions__icons {
  display: flex;
}
.more-suggestions__icon {
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-suggestions__icon-image img {
  width: 75px;
  height: 75px;
  padding: 1px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.more-screen-top {
  display: flex;
}
.more-screen__info {
  display: flex;
  flex-direction: column;
}
.more-screen__profile {
  background-color: #f5f5f5;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.more-screen__profile__text {
  display: flex;
}
.more-screen__profile__text > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.more-screen__profile__title {
  font-size: 20px;
  margin-bottom: 7px;
}
.more-screen__profile__sub-title {
  font-size: 13px;
}
.more-screen__profile__edit {
  background-color: #000000;
  font-size: 15px;
  padding: 0px 10px;
  height: 33px;
  border-radius: 10px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
.more-screen__profile__edit:hover {
  transform: scale(1.1);
}
.more-screen__repositories {
  border: 2px solid rgba(255, 255, 255, 0.227);
  width: 50%;
  padding: 15px;
  border-radius: 15px;
  box-sizing: border-box;
}

.my-state {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  background-color: #f5f5f5;
  padding: 20px 20px;
  line-height: 25px;
  font-size: 14px;
}
.my-state div h5 {
  font-weight: 600;
}
.icon-row-repository {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  justify-items: center;
}

.icon-row-repository__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-row__icon:hover i,
.icon-row__icon:hover span {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.icon-row__icon i,
.icon-row__icon span {
  transition: transform 0.3s ease-in-out;
}
